Section 6 DataWeave/xmljson/src/main/mule/xmljson.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="xmljsonFlow" doc:id="32b4896e-8b13-4546-9f2b-857285743b6b" >
		<ee:transform doc:name="json to xml" doc:id="9c8388d4-a4cd-4d3c-9bc2-a1543a2f85ee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{"firstplanet": payload[0]}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="xmljsonFlow1" doc:id="eea553d6-9540-4148-b955-8c7fa6d20b64" >
		<ee:transform doc:name="xml to json" doc:id="4fc33a10-fdb6-48be-804c-d0786da0a31c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.firstplanet]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
