Section 5 Anypoint Studio Basics/3. Publish to Anypoint and Deploy to CloudHub/planetimplapi-cloudhub-deployed-finish/src/main/mule/planetimplapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fd62a56d-a1e6-4512-87f9-457ffce26b3b">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="Router" doc:id="034f6b26-9921-4388-85cb-ddd83e223619" name="Router" raml="planets-api.raml" />
    <flow name="planetimplapiFlow1" doc:id="5a50e098-561e-4a61-8f5e-8ad7736e789c">
        <http:listener doc:name="Listener" doc:id="9647f2f6-98ea-4ea6-8271-4a9afc89919f" config-ref="HTTP_Listener_config" path="/planets/{id}" />
        <set-payload value="#[%dw 2.0 output application/json var planets = [     {         &quot;planet&quot;: &quot;Mercury&quot;,         &quot;moons&quot;: 0,         &quot;diameter&quot;: 4879,         &quot;distanceFromSun&quot;: 57.9     },     {         &quot;planet&quot;: &quot;Venus&quot;,         &quot;moons&quot;: 0,         &quot;diameter&quot;: 12104,         &quot;distanceFromSun&quot;: 108.2     },     {         &quot;planet&quot;: &quot;Earth&quot;,         &quot;moons&quot;: 1,         &quot;diameter&quot;: 12756,         &quot;distanceFromSun&quot;: 149.6     },     {         &quot;planet&quot;: &quot;Mars&quot;,         &quot;moons&quot;: 0,         &quot;diameter&quot;: 6792,         &quot;distanceFromSun&quot;: 227.9     },     {         &quot;planet&quot;: &quot;Jupiter&quot;,         &quot;moons&quot;: 67,         &quot;diameter&quot;: 142984,         &quot;distanceFromSun&quot;: 778.6     },     {         &quot;planet&quot;: &quot;Saturn&quot;,         &quot;moons&quot;: 62,         &quot;diameter&quot;: 120536,         &quot;distanceFromSun&quot;: 1433.5     },     {         &quot;planet&quot;: &quot;Uranus&quot;,         &quot;moons&quot;: 27,         &quot;diameter&quot;: 51118,         &quot;distanceFromSun&quot;: 2872.5     },     {         &quot;planet&quot;: &quot;Neptune&quot;,         &quot;moons&quot;: 14,         &quot;diameter&quot;: 49528,         &quot;distanceFromSun&quot;: 4495.1     },     {         &quot;planet&quot;: &quot;Pluto(Dwarf-Planet)&quot;,         &quot;moons&quot;: 5,         &quot;diameter&quot;: 2370,         &quot;distanceFromSun&quot;: 5906.4     } ] --- planets[attributes.uriParams.id as Number]]" doc:name="Set Payload" doc:id="4121ee05-f563-4c88-b3ff-276d6ba6031a" />
    </flow>
    <flow name="planetimplapiFlow" doc:id="724046cc-dba8-48c1-ae00-8dd7cdaf0cf2">
        <http:listener doc:name="Listener" doc:id="3bbc9597-33fd-48d6-9824-86d0901de755" config-ref="HTTP_Listener_config" path="/planets" />
        <set-payload value="#[%dw 2.0 output application/json --- [     {         &quot;planet&quot;: &quot;Mercury&quot;,         &quot;moons&quot;: 0,         &quot;diameter&quot;: 4879,         &quot;distanceFromSun&quot;: 57.9     },     {         &quot;planet&quot;: &quot;Venus&quot;,         &quot;moons&quot;: 0,         &quot;diameter&quot;: 12104,         &quot;distanceFromSun&quot;: 108.2     },     {         &quot;planet&quot;: &quot;Earth&quot;,         &quot;moons&quot;: 1,         &quot;diameter&quot;: 12756,         &quot;distanceFromSun&quot;: 149.6     },     {         &quot;planet&quot;: &quot;Mars&quot;,         &quot;moons&quot;: 0,         &quot;diameter&quot;: 6792,         &quot;distanceFromSun&quot;: 227.9     },     {         &quot;planet&quot;: &quot;Jupiter&quot;,         &quot;moons&quot;: 67,         &quot;diameter&quot;: 142984,         &quot;distanceFromSun&quot;: 778.6     },     {         &quot;planet&quot;: &quot;Saturn&quot;,         &quot;moons&quot;: 62,         &quot;diameter&quot;: 120536,         &quot;distanceFromSun&quot;: 1433.5     },     {         &quot;planet&quot;: &quot;Uranus&quot;,         &quot;moons&quot;: 27,         &quot;diameter&quot;: 51118,         &quot;distanceFromSun&quot;: 2872.5     },     {         &quot;planet&quot;: &quot;Neptune&quot;,         &quot;moons&quot;: 14,         &quot;diameter&quot;: 49528,         &quot;distanceFromSun&quot;: 4495.1     },     {         &quot;planet&quot;: &quot;Pluto(Dwarf-Planet)&quot;,         &quot;moons&quot;: 5,         &quot;diameter&quot;: 2370,         &quot;distanceFromSun&quot;: 5906.4     } ]]" doc:name="Set Payload" doc:id="8bc9d0a8-b624-4327-8207-215b1bf119be" />
    </flow>
</mule>
